#Данный файл является файлом сервера апачи. В нем указываются правила для данного сервера.
#Устанавливаем кодироку
AddDefaultCharset utf-8
#Включаем модуль перенаправлений. Например мы хотим перенавить юсера перенапривить, когда он обращается к корню нашего сайта, то перенаправляем его на папку public, т.е. все запросы какие бы он не ввел, будут перенаправлены на папку public
RewriteEngine On
# Правило перенаправления
RewriteRule (.*) public/$1